
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{searchResultItem.title}}</mat-card-title>
        <mat-card-subtitle>{{searchResultItem.import_datetime}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="{{searchResultItem.embed_url}}"> -->
      <div mat-card-image [inlineSVG]="searchResultItem.embed_url"></div>
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
</mat-card>