

.basic-container {
    background: #3f51b5;   
}


.basic-container > button {
    color: #ffffff;
    font-size: 120%;
}

.logo {
    transform: scale(2.4);
    background-color: white;
    float: right;
    margin-right: 1%;
}