<div class="mat-app-background basic-container">


    <i class="material-icons logo">gif</i>


    <a [routerLink]="['/']" mat-button>Home</a>

    <a [routerLink]="['/gifs']" mat-button>Gifs</a>    

    <a [routerLink]="['/stickers']" mat-button>Stickers</a>


    <button mat-button [matMenuTriggerFor]="aboutMenu">About Me</button>
    <mat-menu #aboutMenu="matMenu" xPosition="after">
        <a href="https://www.linkedin.com/in/sametsenturkk/" mat-menu-item>Linkedln</a>
        <a href="https://github.com/Jungmaus/" mat-menu-item>Github</a>
    </mat-menu>


</div>